* { margin: 0; padding: 0; box-sizing: border-box; }
body, html {
    width: 100%;
    font-family: "Chenla", system-ui;
    font-weight: 400;
    font-style: normal;
}

.fontTitle {
  font-family: "Aboreto", system-ui !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

main {
    width: 90%;
    max-width: 1600px;
    margin: 50px auto;
}

header {
    background-color: #143260;
    color: #fff;
    width: 100%;
    height: 50px;
    padding: 0 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    height: 100%;
    text-transform: uppercase;
}

#logoPCG {
    height: 25px;
}

header nav ul {
    list-style: none;
    display: flex;
    height: 100%;
}

header nav ul li a {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

header nav ul li a.active {
    background-color: #ffffff1a;
    height: 100%;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    height: 100%;
}

#ulAcessibilidade {
    list-style: none;
    display: flex;
    gap: 15px;
}

#ulAcessibilidade li {
    display: flex;
    align-items: center;
}

#ulAcessibilidade li button img,#ulAcessibilidade li button {
    height: 24px;
    cursor: pointer;
}

.btnInvisible {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.navCharts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

.cardChart {
    width: 155px;
    height: 155px;
    border: solid #fff 2px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    outline: none;
    background-color: #fff;
    box-shadow: 2px 4px 5px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    font-family: "Mako", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cardChart.active {
    border: solid rgba(10, 124, 255, 1) 2px;
}

.cardChart .cardChartTitle {
    text-align: center;
    font-size: 20px;
    padding: 5px;
}

.cardChart .cardChartDescricao {
    text-align: center;
    font-size: 12px;
    padding: 15px;
    color: #555;
}

.cardChart .cardChartIcon {
    margin-top: 10px;
    width: 60px;
}